[2016-01-03 22:50] benthewhite opened #1 "Add LICENSE"
Great work on this so far! Would like to start from your base and add some things (support for animations etc) but to do so it would be good to have a license sorted. MIT is my goto unless you have other thoughts?

[2016-01-04 19:34] Jpadilla1 commented on #1
@benthewhite thank you! I actually started support for animations yesterday and pushed them today, but any help is welcomed! For example, right now I am trying to make common config options work in a parent class so other charts can have them out of the box in swift, but I keep running into an error when inheriting (Line, Bar)ChartDataProvider... About the license, I think that MIT is the way to g

[2016-01-04 19:46] #1 closed

[2016-02-05 23:48] hshim opened #3 "Is "labels" attribute required for LineChart?"
This is really helpful for my project.
It seems like the "labels" attribute is not a requirement for LineChart, but if you omit this attribute, the chart will only draw the first two values of the "values" array, which is weird.
Is this a bug? or is there some other way to omit the "labels" and just draw line chart of the "values"?
I'm letting the "labels" be values.length sized array of empty str

[2016-02-05 23:52] hshim opened #4 "Customizing the Interaction with the Charts"
It'd be nice to customize the touch interactions.
The original ios-charts project seems to support it.
(https://github.com/PhilJay/MPAndroidChart/wiki/Interaction-with-the-Chart) assuming that ios-charts has implemented these MPAndroidChart interaction features.

[2016-02-08 23:12] Jpadilla1 commented on #4
Hi! Yes I have plans to add them very soon. Maybe this week. I wanted to refactor the current charts first to use extensions which I got working today https://github.com/Jpadilla1/react-native-ios-charts/commit/f27834d294432a727f53424e255735dbae37dc8c

[2016-02-09 00:33] Jpadilla1 commented on #3
I checked the example from https://github.com/danielgindi/ios-charts/blob/master/ChartsDemo/Classes/Demos/SinusBarChartViewController.m and to avoid show the labels you can either disable the axis or set drawLabels to false on the axis. That is what is done in this example, he sets the xAxis to be false on this line https://github.com/danielgindi/ios-charts/blob/master/ChartsDemo/Classes/Demos/Sin

[2016-02-09 05:43] Jpadilla1 commented on #4
I added the interaction properties that are documented in that link. Let me know if this solves the issue!

[2016-02-10 19:57] Taakn opened #5 "Build Failed"
Hello,

I am getting the following error when trying to build on React Native 0.19:

[code]

Do you know what could be causing the issue ?

Thanks so much

[2016-02-10 20:07] Jpadilla1 commented on #5
Hello, I built a simple app using React Native 0.19 and I didn't have any problems.
What's your setup? So I can try to reproduce.

[2016-02-10 20:12] Taakn commented on #5
I'm actually confused I think by your installation instruction:
- What do you mean by "Add all the files under node_modules/react-native-ios-charts/RNiOSCharts" ? Do you mean under the root project?
- When you say "Create it and import the RCTViewManager.h", how do I do that? When you say "#import "RCTViewManager.h"" where is it?
- When you say "install SwiftyJSON and iOS Charts"... How? It seems

[2016-02-10 20:46] Jpadilla1 commented on #5
No need to apologize, I perfectly understand. I updated the npm version to reflect the latest changes. Try 0.0.8 and let me know if that works for you!
- What do you mean by "Add all the files under node_modules/react-native-ios-charts/RNiOSCharts" ? Do you mean under the root project? -> What I mean is to add them to your XCode project by right clicking in the left side bar where your files are '

[2016-02-10 21:20] Taakn commented on #5
Thanks for your reply! "Unfortunately" with React Native a lot of people that have never ever done iOS development are going to be swarming the framework, so you might have to dumb things down a little bit :)
- For adding the file seems like it works. I created a new Group then added the files, initially I was adding the whole folder "RNiOSCharts" and it was not prompting me for the bridge header,

[2016-02-10 21:28] Jpadilla1 commented on #5
Yeah, I can relate because the same thing happened to me. I'll try to make the installation process as simple as possible maybe by integrating (RNPM)[https://github.com/rnpm/rnpm] to make the linking process much simpler.

As for the `pod install`, you would need to set your project dependency target to be atleast iOS 8.0.

<img width="1392" alt="screen shot 2016-02-10 at 5 27 51 pm" src="https://

[2016-02-10 21:55] Taakn commented on #5
Okay it's working! Thanks a lot for your help and patience, I really appreciate it.

[2016-02-10 21:55] #5 closed

[2016-02-10 22:02] Jpadilla1 commented on #5
Happy to help!

[2016-02-11 01:45] hshim commented on #4
Nice! Thanks for the update!

[2016-02-11 01:45] #4 closed

[2016-02-11 01:50] hshim commented on #3
Hey,

Thanks for the reply. But I think you are talking about the "label" attribute within xAxis or yAxis.
There's another attribute called "labels" which is a global config under LineChart (Just like the one you used in the example code under BarChart; you have `labels: ['a', 'b', 'c', 'd']`, which isn't under any axes).
In LineChart, if you omit this attribute, only first two values will be plot

[2016-02-11 05:27] Jpadilla1 commented on #3
Actually the "labels" attribute that you are mentioning is the one used in the xAxis it's just not set explicitly like `self.xAxis.labels`. The labels attribute is equal to the xVals property in the DataSet class for the Bar & Line Chart. I agree that this should not be the expected behavior, but it is what I have found by looking at the examples in ios-charts and the class properties.

If you do

[2016-02-16 15:04] Jpadilla1 opened #6 "Implement markers"

[2016-02-21 22:25] Taakn opened #7 "Error node-gyp with bufferutil@1.2.1"
Hello,

I am getting the following error with RN 0.20. I know this is not an error with your component but with a dependency. I looked online for solutions but couldn't find any that worked. Have you encountered this issue before? Do you know what could be causing it?

Thanks so much

[code]

[2016-02-21 22:35] #3 closed

[2016-02-22 14:51] Jpadilla1 commented on #7
Hi! I've never had this issue before and I installed the package on RN 0.20 and it worked just fine for me. Not sure if it's a `node` or `npm` version issue. Currently, I've been using `node` v4.0.0 and `npm` 2.14.2 and I have not had any issues.

[2016-02-22 15:04] Taakn commented on #7
Ok thanks so much. I'm going to close the issue since this is most likely not related to your component. I'll post the fix here when I find it so people running into the same issue find a solution. I am using `node` 5.3.0 and `npm` 3.3.12

Thanks again!

[2016-02-22 15:04] #7 closed

[2016-02-22 18:46] Taakn commented on #7
@Jpadilla1 actually that error was solved by updating El Capitan but it was apparently unrelated to the library not working.

When I am trying to run `react-native run-ios`, the app starts but then it shuts down. I do not get any errors in Chrome debugging. Do you know what could be causing this issue?

Thanks so much

[2016-03-04 04:53] brycepavey opened #8 "setting config 'colors' broken"
Hey there, I've been attempting to set the colors on both a line chart and pie chart but both crash the app.
I attempted this on react-native 0.21, but I've now discovered colorProcessing was reimplemented in 0.21 and no longer supports arrays of colors (https://github.com/facebook/react-native/commit/c8a0a3eff6e18b21feb89cfdd3a375adab6a68e2)

Though I rolled back to both 0.20 and 0.19 and both gi

[2016-03-05 04:52] Jpadilla1 commented on #8
Hey there! Can you try installing from source and see if that works for you? I made the changes in this commit https://github.com/Jpadilla1/react-native-ios-charts/commit/e2c358e9d6b798a20006c11e814437c3cad71650 a while back and it seems to work for me. Let me know so I can make any fix and do a release.

Thanks!

[2016-03-06 22:18] brycepavey commented on #8
Sure thing, I'll give it a shot now and report back!

[2016-03-06 23:00] brycepavey commented on #8
That did it, thanks!
I noticed when I was installing via npm the other day that the ChartViewBaseExtension.swift wasn't up to date with that commit, so I replaced the whole RNiOSCharts folder from source. I overlooked the changes to utils/commonColorProps.js from that commit though. I just compared the version I had and it doesn't contain those changes, so the version I got from npm is listed as v

[2016-03-07 05:41] Jpadilla1 commented on #8
Glad to here! I'll be doing a release soon (probably tomorrow) to address this issue. I'll let you know.

[2016-03-07 14:23] BilalBudhani opened #9 "Support for CandleStick Chart"
In my current project I've requirement to use CandleStick chart in react native. I looked into your other charts implementation and tried working on CandleStick Chart support myself. But, my lack of iOS knowledge led to failure. Do you have any plans to add support for this chart anytime soon? If not, I'm open to take this on me and try again if I could get some guidance.

[2016-03-07 22:27] Jpadilla1 commented on #9
Hello! Yes, I have plans to support most or all the iOS-charts libraries features including the CandleStick graph. Unfortunately, I've been busy for while now and it could take sometime for me to include support for the candle stick. I'm happy to make a contribution guide so it'll help you and hopefully other devs to contribute to the library! I'll try to get something out this week and let you kn

[2016-03-09 16:34] Jpadilla1 commented on #8
Hey I just made a release with those changes. It should be on npm, version `0.0.9`

[2016-03-09 20:49] #8 closed

[2016-03-09 21:25] brycepavey commented on #8
Awesome! Thanks for this library!

[2016-03-13 18:51] Jpadilla1 commented on #9
Hey @BilalBudhani, I added support for the CandleStick Chart in the latest version. I also added Bubble, Scatter and Radar charts. Let me know if that works for you! With example code in the readme.

[2016-03-14 07:54] BilalBudhani commented on #9
@jpadilla1 Awesome! Thank you so much for adding CandleStick Chart support so quickly. I'll check it out and try to integrate it.

[2016-03-14 17:38] Jpadilla1 commented on #9
@BilalBudhani Yes, it was really simple since I started using extensions in swift :)

[2016-03-15 22:42] lynndylanhurley opened #10 "Android support?"
I was just about to write a library like this myself. Do you plan on supporting Android?

I'm sure you're aware of this library:
https://github.com/PhilJay/MPAndroidChart

[2016-03-15 22:46] Jpadilla1 commented on #10
Hey @lynndylanhurley, Mike Monteith started to port the Android library, https://github.com/mikemonteith/react-native-mpchart, a while ago and we have plans to merge both libraries into a single one for both iOS and Android. Doesn't seem that he has updated it for a while now. But Android support is a must to have.

[2016-03-15 22:47] lynndylanhurley commented on #10
Thanks @Jpadilla1. Feel free to close this issue, I was just curious.

[2016-03-15 22:48] Jpadilla1 commented on #10
Awesome!

[2016-03-15 22:48] #10 closed

[2016-03-16 04:53] L-Jovi commented on #6
@Jpadilla1  I try to integrate this smart native chart lib but failed, I ever post issue [here](http://stackoverflow.com/questions/35972015/integrate-native-chart-display-incorrectly) and feeling excited that you bring it to react native.

I asked developer who say the [BallonMaker](https://github.com/danielgindi/ios-charts/issues/838) be implemented in `ChartMarker.swift`, it's not the part of **

[2016-03-20 08:14] #9 closed

[2016-03-20 11:51] L-Jovi opened #11 "array cannot be bridged from Objective-C"
when I call `setState()` or `render()` method, below error appear.

    fatal error: array cannot be bridged from Objective-C

![error](https://cloud.githubusercontent.com/assets/7262199/13904252/19188b24-eed5-11e5-90c1-87437da215b1.png)

by the way, it's the awesome project which I need :)

[2016-03-20 14:25] Jpadilla1 commented on #11
HI @L-Jovi can you post your source code so I can reproduce and the library version? Thank you :)

[2016-03-20 16:15] Jpadilla1 commented on #11
I added an example using setState on the colors and values https://github.com/Jpadilla1/react-native-ios-charts/blob/master/examples/ChartsExplorer/components/LiveUpdating.js. Let me know if that helps!

[2016-03-20 17:16] L-Jovi commented on #11
@Jpadilla1  thanks for your reply and new example, I'll extract relevant code with this issue.

I wonder why the same code work as different behaviour, the error always appear in my origin project, but works well in another pure react native project :(

**version**

[code]

[code]

**index.ios.js**

[code]

**chartConfig.js**

[code]

[2016-03-20 17:47] L-Jovi commented on #11
@Jpadilla1  I eventually confirm it's react native version cause this issue, I ignore it as first, and then I upgrade to `0.21` from `0.20`, all things back to normal.

[2016-03-20 17:47] #11 closed

[2016-03-21 01:01] Jpadilla1 commented on #11
@L-Jovi The react-native version was actually irrelevant. It was a bug in my library. With this commit https://github.com/Jpadilla1/react-native-ios-charts/commit/41d63a18ec68c7ef05ae2419c3ddcd1e340f1484 I just tested `0.21`, `0.20`, `0.19` and it worked just fine with your code.

Pushed `0.2.1` to npm aswell.

[2016-03-21 03:11] L-Jovi commented on #11
@Jpadilla1  awesome, I think your conclusion is correct.

with `npm install` have a bit issue now.

[code]

thanks for your patience :)

[2016-03-21 04:32] Jpadilla1 commented on #11
Strange, I just did a fresh install on a new project and it works just fine. Did you try this?

[code]

[2016-03-21 06:04] L-Jovi commented on #11
@Jpadilla1  great, it's correct now 👍

[2016-03-21 06:06] Jpadilla1 commented on #11
Awesome!

[2016-03-26 16:27] DiegoGallegos4 opened #12 "Installation Docs"
Hi Jose,

Great work with this library. This is a request to improve the installation steps posted, most of them are very abstract and not easy to follow. I get to the end but there are two errors:

1. CocoaPods
![image](https://cloud.githubusercontent.com/assets/5933437/14063587/8fae4a02-f395-11e5-996a-0f954887d528.png)

2. Xcode:

![image](https://cloud.githubusercontent.com/assets/5933437/14063

[2016-03-27 03:29] Jpadilla1 commented on #12
Hi @DiegoGallegos4 I absolutely agree on this. I'll focus on getting everything setup as easy as possible as well as easy to follow along.

Regarding your issue, after you ran `pod install`, did you open the `.xcworkspace` file instead of the `.xcodeproject`?

Also, have you read issue #5 and see if it's the same issue happening to you?

[2016-03-27 04:25] Jpadilla1 opened #13 "Remove SwiftyJson as a dependency"

[2016-03-27 04:50] DiegoGallegos4 commented on #12
Jose, thanks for the quick reply. If it is of any help I downloaded new version of Xcode(7.3) and Swift (2.2) today. Check [this](https://github.com/SwiftyJSON/SwiftyJSON/issues/482).

I saw that issue. Ill add something to the installation:
1. Adding `${inherited}` to **Build Settings > Linking > Other Linker Flags**

Now, I have this error: (Which I presume is due SwiftyJSON)

![image](https://c

[2016-03-28 01:58] L-Jovi commented on #12
maybe you could try this which solve your first issue.

Go to your target __Build Settings -> Other linker flags -> double click__ . Add `$(inherited)` to a new line.

[2016-03-28 16:14] Jpadilla1 commented on #12
Strange, I just downloaded and tried XCode 7.3 with swift 2.2 and didn't have any problems. I'll try to make a video or better docs this week and get back to you.

[2016-03-28 21:21] masterkrang commented on #9
@Jpadilla1 can I include volume along with the candlestick charts like in android? cc @BilalBudhani
Example:
![image](https://cloud.githubusercontent.com/assets/452219/14090644/64c74300-f4f0-11e5-91ca-910c49d3aa88.png)

[2016-03-28 21:31] Jpadilla1 commented on #9
@masterkrang You might be able to do so by using the CombinedChart. See this issue on the MPAndroidChart library https://github.com/PhilJay/MPAndroidChart/issues/969

[2016-03-31 04:40] DiegoGallegos4 commented on #12
Hi Jose, I had to research how to remove CocoaPads and unlink the bridging header. After this, I tried again with the issue you linked for me to see and made it work. If I have time, I may take a couple of screenshots on the process to help out on the installation process for the library.

Cheers!

PD: There are some errors of syntax being deprecated on SwiftyJSON on Swfit 3. What other option do

[2016-03-31 04:52] #12 closed

[2016-03-31 12:49] minggo opened #14 "CombinedChart issue"
I think the effect of CombinedChart in ChartsExplorer is wrong. [config.barData](https://github.com/Jpadilla1/react-native-ios-charts/blob/master/examples/ChartsExplorer/components/Combined.js#L21) in `Combined.js` is  the same as [config.dataSets](https://github.com/Jpadilla1/react-native-ios-charts/blob/master/examples/ChartsExplorer/components/Bar.js#L20) in `Bar.js`, but their effects of bar a

[2016-03-31 13:18] Jpadilla1 commented on #12
Hi @DiegoGallegos4,

That's great news that it's working for you! I appreciate any contribution, especially for the docs. :+1:

Regarding the SwiftyJSON on Swift 3, I have plans to remove that dependency by then.

[2016-03-31 14:29] Jpadilla1 commented on #14
Hi @minggo, I fixed the example in the ChartsExplorer. Thank you for pointing that out! I changed it to only use 1 data set.

Their seems to be a PR for grouped bar chart that hasn't been merged yet in the iOS Charts repo https://github.com/danielgindi/ios-charts/pull/269

[2016-03-31 14:29] #14 closed

[2016-03-31 14:36] minggo commented on #14
@Jpadilla1 Thanks.
Yep, this feature is missing on iOS and Android.

[2016-04-07 15:01] minggo opened #15 "axisMaximum and axisMinimum have not effect"
The config data looks like:

[code]

But the chart looks like
<img width="370" alt="screen shot 2016-04-07 at 10 54 14 pm" src="https://cloud.githubusercontent.com/assets/488203/14355734/a1ba9452-fd14-11e5-91d2-25a781c6371e.png">

As you can see, the max value and min value is not 1000 and 100.

[2016-04-08 03:04] carlos-wong commented on #15
try startAtZero:false

[2016-04-08 03:54] minggo commented on #15
@carlos-wong Thanks for the answer, i will try it.

[2016-04-08 14:22] minggo commented on #15
@carlos-wong `startAtZero:false` can not resolve it.

[2016-04-08 15:25] minggo opened #16 "axisDependency is missing"
It seems that axisDependency property is missing in react native.

[2016-04-08 15:34] minggo opened #17 "A question about CombinedChart"
I want to CombinedChart to combine BarChart and CandleStickChart, they have different meaning. BarChart may mean how many people, and CandleStickChart means price. Which mean they have different unit. Because BarChart value is very big[1000 - 10000], and CandleStick value is small[20 - 30].  How can i draw then in the same area?

Thanks.

[2016-04-08 16:33] minggo commented on #15
@Jpadilla1 Could you please take a look?
Thanks.

[2016-04-08 16:37] Jpadilla1 commented on #15
@carlos-wong Sure, I take a look at it today.

[2016-04-08 16:37] Jpadilla1 commented on #16
Yes, I see if I find sometime to include support for it today.

[2016-04-08 16:38] minggo commented on #15
Thanks.

[2016-04-08 16:40] minggo commented on #16
Thanks.

[2016-04-08 16:43] Jpadilla1 commented on #17
I believe that by using the axisDependency prop this should work. Let's say that the leftAxis has the range of [1000 - 10000] and the axisDependency for the BarChart is the left one. The BarChart will be drawn according to that axis. The same with the CandleStickChart with the axisDependency of the right axis.

Currently their is no support for axisDependency in this library to do this, but I'll d

[2016-04-08 16:47] minggo commented on #17
Yep, so waiting the axisDependency property. Then i will take a try.

[2016-04-09 17:20] Jpadilla1 commented on #16
Added support in latest release `0.2.2`. Let me know if it works for you!

[2016-04-09 17:20] Jpadilla1 commented on #15
Hi @minggo this should be fixed in the latest release `0.2.2`. The problem was that the values were being set to `axisMaximum` & `axisMinimum` when it should be set to `customAxisMax` & `customAxisMin`. Let me know if it works for you!

[2016-04-09 17:23] Jpadilla1 commented on #17
Hi @minggo I jus added support for the axisDependency property. You can check the CombinedChart example in the ChartsExplorer where I use it with the bubble chart with values between 1,000 and 10,000 while having the values of the other charts lower than 100.

https://github.com/Jpadilla1/react-native-ios-charts/blob/master/examples/ChartsExplorer/components/Combined.js

[2016-04-11 01:48] minggo commented on #15
@Jpadilla1 Thanks.
But i didn't found `0.2.2`, is it released? Because it use `pod install` to update dependences, it is not convenient for me to test i in my lib. Or could you share me the pull request, than i can do the modification myself.

[2016-04-11 08:17] #17 closed

[2016-04-11 08:21] minggo commented on #15
@Jpadilla1 It seems it is not fixed, the config data is:

[code]

the effect is

<img width="380" alt="screen shot 2016-04-11 at 4 19 53 pm" src="https://cloud.githubusercontent.com/assets/488203/14420941/6dd27ef8-0001-11e6-8e18-06a776679ebe.png">

[2016-04-11 08:24] minggo commented on #16
Thanks, it worked.

[2016-04-11 08:24] #16 closed

[2016-04-11 09:15] seraj-ahmad opened #18 "add rnpm support for linking"
can you implement rnpm support to link all the native dependencies automatically.

[2016-04-11 14:05] Jpadilla1 commented on #15
@minggo you are right, I missed a few changes in the last release (0.2.2), so I included them in 0.2.3.

[code]

<img width="487" alt="screen shot 2016-04-11 at 10 03 48 am" src="https://cloud.githubusercontent.com/assets/3780146/14429746/b444d442-ffcc-11e5-99d9-13a8e798fd24.png">

Here is the commit with the changes to axisMaximum & axisMinimum.
https://github.com/Jpadilla1/react-native-ios-chart

[2016-04-11 15:19] Jpadilla1 commented on #18
Hi @seraj-ahmad, I've been looking into this in the past few days and I have no idea on how to get this working. If you can help out that would be awesome! Meanwhile, I'll experiment and see where I can get to.

[2016-04-11 21:07] Jpadilla1 opened #19 "Black backgrounds for every Chart in ChartsExplorer"
This is due to this commit https://github.com/facebook/react-native/commit/73417068848aa363e01ddf55096140452f5dc645

The solution is to set the `backgroundColor` for the chart as a style property instead of setting it in the config.

[code]

![screen shot 2016-04-11 at 4 56 10 pm](https://cloud.githubusercontent.com/assets/3780146/14442408/8af4fdb6-0007-11e6-871a-ef97bcb2c484.png)

[2016-04-11 23:05] minggo commented on #15
It works now, thanks.

[2016-04-11 23:05] #15 closed

[2016-04-12 03:18] #19 closed

[2016-04-14 02:07] L-Jovi opened #20 "get property defined in objC side"
hey, it's not a issue and I just want to know how to get defined property in objC header file, could you provide some suggestion :)

for example, if I have below code, how could I access property `config` in foo.swift?

thanks for your time.

__foo.h__

[code]

__foo.m__

[code]

foo.swift

[code]

[2016-04-14 03:55] Jpadilla1 commented on #20
Hey, ok it looks like you are only missing the FooManager.swift file. It should look something like this

[code]

For more info, you can check out Jason Browns blog on how to export a swift view to react-native. http://browniefed.com/blog/react-native-how-to-bridge-a-swift-view/

[2016-04-14 05:32] L-Jovi commented on #20
thanks for your reply, I means that I want to access `config` in swift view file.

would you mind have a look on my part of source code which provide custom UICollection view to  react native :)

**RNCollection.swift**

[code]

I can get `config` through `setConfig` function, but I can't use it directly in above code, I try `self.config` but failed..

regards.

[2016-04-15 04:11] tehong opened #21 "Missing customAxisMin and customAxisMax members in ChartAxisBase.swift"
Hi,

I've just installed the react-native-ios-charts based on your instruction but I've encoutered the following iOS compiling errors in the BarLineChartViewBaseExtension.swift:

`
            if json["leftAxis"]["axisMinimum"].isExists() {
                self.leftAxis.customAxisMin = json["leftAxis"]["axisMinimum"].doubleValue;
            }
`

`
            if json["leftAxis"]["axisMaximum"].is

[2016-04-15 04:18] Jpadilla1 commented on #21
Can you try updating in your pod file to `pod 'Charts', '2.3.3'` and the run `pod install` again? Updated the readme, sorry for the confusion.

[2016-04-15 04:25] tehong commented on #21
Analyzing dependencies
[!] Unable to satisfy the following requirements:
- `Charts (= 2.3.3)` required by `Podfile`

Not sure if there is such version.

[2016-04-15 04:26] Jpadilla1 commented on #21
oops! `2.2.3` sorry...

[2016-04-15 04:35] tehong commented on #21
Passed compilation but you need to change your pod instruction to these:

pod 'SwiftyJSON', '~> 2.3'
pod 'Charts', '2.2.3'

There is no SwiftyJson 2.3.

[2016-04-15 04:38] Jpadilla1 commented on #21
Awesome! Thanks, just updated the readme.

[2016-04-15 04:38] #21 closed

[2016-04-19 02:32] Jpadilla1 commented on #20
Ok, so you want to access the config string in the init function of the swift class?

[2016-04-19 03:40] L-Jovi commented on #20
yes, but I don't know how to do that ..

now I implement it through another strange way that I set `config` value to a static variable of this swift class, and then access that static variable :)

[code]

[2016-04-19 11:51] Jpadilla1 commented on #20
Ok, so you can't really access it at that point. But you can set the value from the setConfig function.

[code]

[2016-04-19 12:21] L-Jovi commented on #20
@Jpadilla1  thanks for your example :)

[2016-04-19 12:21] #20 closed

[2016-04-26 13:47] minggo opened #23 "viewportoffset is missing"
By using `chart.setViewPortOffsets()` can make a chart full fill the space as mentioned in [this thread](https://github.com/PhilJay/MPAndroidChart/issues/760). But it seems there is not way to do it in `react-native-ios-charts`.

[2016-04-26 13:59] minggo commented on #23
I used a CombinedChart(BarChart + CandleStickChart), and i want it to fill the spaces, but now it has padding in top and left as below
<img width="404" alt="screen_shot_2016-04-26_at_9_54_06_pm" src="https://cloud.githubusercontent.com/assets/488203/14820662/2a89f7f2-0bfa-11e6-857f-5c14eceac441.png">

[2016-04-27 11:58] inu1255 opened #24 "blank background after update react-native"
it's blank background what ever I set `backgroundColor`,I just think it's woring with my code,but when I create a new react-native project and use the demo code,it's blank background too. any one meet the same problem?

[2016-04-27 15:02] minggo opened #25 "How to add callback upon chart interacton"
As mentioned in [this documentation](https://github.com/PhilJay/MPAndroidChart/wiki/Interaction-with-the-Chart), chart can add callback listener on chart interaction. But i don't find any information about it in `react-native-ios-charts`.

[2016-04-27 15:07] minggo commented on #4
But how about the call back?

[2016-04-27 16:57] clozr commented on #18
I started working on it. I will send out the pull request as soon as it is working

[2016-04-28 12:46] minggo commented on #25
@Jpadilla1 any idea?

[2016-04-28 12:46] minggo commented on #23
@Jpadilla1 Could you please take a look?

[2016-04-28 13:38] Jpadilla1 commented on #18
Thanks @clozr !

[2016-04-28 13:40] Jpadilla1 commented on #23
Sure, I'll take a look today.

[2016-04-28 13:43] Jpadilla1 commented on #25
Yeah the callback listeners are missing. I'll see when I can implement them.

[2016-04-28 13:45] Jpadilla1 commented on #24
Hi @inu1255, which version of react-native are you using and can you post some screenshots of this? It might help placing the `backgroundColor` as a style prop instead of placing it in the chart config object.

[2016-04-28 23:39] minggo commented on #25
@Jpadilla1 Thanks.

[2016-05-01 13:15] inu1255 commented on #24
it's great,thank you,I set style prop of LineChart like this `style={{backgroundColor:"#fff"}}` and it become a white background.

this is the black background,I use the demo code and edit nothing.
![image](https://cloud.githubusercontent.com/assets/5772409/14941784/19afdaac-0fdb-11e6-81b7-af688b75a459.png)
package.json
[code]

[2016-05-04 13:14] mahlon-gumbs commented on #10
Just an FYI: I've successfully used both this library for iOS and https://github.com/hongyin163/react-native-chart-android for Android in a client's app. With both being based (directly or indirectly) on MPChart, it makes for a fairly uniform look and feel across platforms.

[2016-05-04 20:54] Jpadilla1 commented on #10
@mahlon-gumbs Happy to hear that :)

[2016-05-08 15:51] cmouysset commented on #24
Hello.

I'm using React Native 0.25 and when I run the examples I get a blank box where the chart should be displayed. Is anyone else running into this issue?

Thanks,

Christian

[2016-05-14 01:28] Jpadilla1 commented on #23
Added support on latest version `0.2.4`.

Example in config:

[code]

Also added to the Bar Chart in the ChartsExplorer.

[2016-05-14 02:48] #23 closed

[2016-05-20 17:44] brah opened #28 "Modifying the viewport"
is `setVisibleXRangeMaximum` supported yet?
https://github.com/PhilJay/MPAndroidChart/wiki/Modifying-the-Viewport

[2016-05-20 17:59] Jpadilla1 commented on #28
Hi! Currently only `setViewPortOffsets` is supported, but shouldn't be that hard to include `setVisibleXRangeMaximum`. I'll see what I can do today to add support.

[2016-05-20 18:02] Jpadilla1 commented on #28
You can take a look at my previous commit when I added support for `setViewPortOffsets` if you want to add support and submit a PR yourself. https://github.com/Jpadilla1/react-native-ios-charts/commit/471f9a042053bbfc24ae8ee48cee3912835c3d89

[2016-05-20 21:23] quin commented on #28
Sure

[2016-05-20 21:25] quin commented on #28
when trying to run ChartsExplorer:
<img width="374" alt="screen shot 2016-05-20 at 2 23 18 pm" src="https://cloud.githubusercontent.com/assets/7978950/15442503/73af3614-1e96-11e6-8cb5-c2b0322ec6ad.png">

😱

[2016-05-21 04:33] Jpadilla1 commented on #28
<img width="487" alt="screen shot 2016-05-21 at 12 32 32 am" src="https://cloud.githubusercontent.com/assets/3780146/15446341/96dec906-1eeb-11e6-84d4-dccad4c49b51.png">

Strange, worked fine for me

[2016-05-21 04:54] Jpadilla1 commented on #24
Just tested on react-native 0.24.1 & 0.25.1 and the ChartsExplorer worked fine for me.

 React Native 0.24.1
<img width="487" alt="screen shot 2016-05-21 at 12 32 32 am" src="https://cloud.githubusercontent.com/assets/3780146/15446418/7ad4b6e6-1eee-11e6-8c46-5f35c0105ec6.png">

React Native 0.25.1
<img width="487" alt="screen shot 2016-05-21 at 12 54 16 am" src="https://cloud.githubusercontent.com

[2016-05-21 06:31] Jpadilla1 commented on #28
Hey @brah been at this issue for a while now and it doesn't seem as straight forward as I thought. The visibleXRange will be affected after the chart is drawn so we would need to call the function in componentDidMount. Still trying to find a good way to make this work with objective-c so the method can be called from the ref of the component.

[2016-05-22 13:26] Jpadilla1 commented on #28
http://stackoverflow.com/questions/37365885/react-native-swift-get-associated-uiview-in-manager-with-reacttag

[2016-05-23 11:42] richfisher opened #29 "build failed"
following the Installation Instruction, and then run `react-native run-ios` and I got the following errors. thanks

    if json["rotationEnabled"].isExists() {
[code]

[2016-05-23 13:02] Jpadilla1 commented on #29
Hi! Which version of SwiftyJson do you have installed? It should be `2.3.1` without the `~>` in front.

[2016-05-23 13:42] richfisher commented on #29
my Podfile is

[code]

[2016-05-23 13:44] richfisher commented on #29
Environments:
OS X: 10.11
Xcode: 7.3.1
react-native: 0.24.1

Install steps:
Setting The minimum deployment target toiOS 8.0
1. Run npm install --save react-native-ios-charts
2. Add all the files under node_modules/react-native-ios-charts/RNiOSCharts.
3. When you add the files XCode should prompt you to create a bridging header if you haven't done so already. Create it and import the RCTViewManager

[2016-05-23 14:10] Jpadilla1 commented on #28
<img width="487" alt="screen shot 2016-05-23 at 10 09 17 am" src="https://cloud.githubusercontent.com/assets/3780146/15473537/7ea330a4-20ce-11e6-9e5b-edfd6e52ade3.png">

Got it working :)

[2016-05-23 16:03] quin commented on #28
@Jpadilla1 awesome! what was your solution?

[2016-05-23 16:53] Jpadilla1 commented on #28
First I added these imports to the Bridging-Header.h file

[code]

Then I export a external method in the specific chart objective-c .m file.

[code]

Next I implemented the function in Swift.

[code]

Added this to the JavaScript component for BarChart

[code]

Finally, called the function on componentDidMount on the Bar.js file in the ChartsExplorer example.

[code]

[2016-05-24 15:02] Jpadilla1 commented on #28
Added support for that function for now in master until I find a better way to generalize this for every chart that supports it. Test it out and see if it works for you!

[2016-05-26 14:20] Elyx0 opened #30 "Issue on RN 26"
I had to use codemod to update components/ and utils/ to the latest syntax, removing the errors.

[code]
![screenshot 2016-05-26 10 18 01](https://cloud.githubusercontent.com/assets/706218/15577629/4fb98eb4-232b-11e6-9e32-c8836b210e4d.png)

And in the console I get a lot of errors, I think I missed something in the Xcode part, it didn't ask me to create a bridge when adding the files.

Instead I g

[2016-06-03 17:01] ggaabe opened #32 "Where do I add the chart files to?"
Hi,

Hate to be a bother, but it isn't exactly clear where I add the chart files to in step 2. When I just add them straight under the Project directory (presumably in the xCode project under the ios folder), it doesn't prompt me to bridge the files at all.

Also, in step 3, which file do we import the `RCTViewManager.h` to?

[2016-06-07 01:40] whippersnapper opened #33 "Installing ios chart component"
Hi, I'm relatively new to React Native and Xcode. I'm trying to integrate the chart lib to my project. Following through the direction, can you please clarify on how I would `Add all the files under node_modules/react-native-ios-charts/RNiOSCharts.` ? Thanks.

[2016-06-07 01:57] whippersnapper commented on #33
Nevermind. Figured it out.

[2016-06-08 02:47] #33 closed

[2016-06-08 02:49] Jpadilla1 commented on #32
Hey! Sorry that docs aren't clear enough, will work better on that when I get the chance. Have you checked this issue? https://github.com/Jpadilla1/react-native-ios-charts/issues/5 maybe that'll help.

[2016-06-08 02:49] #24 closed

[2016-06-08 07:12] L-Jovi opened #34 "has no member customAxisMin and customAxisMax"
list native chart and react native side version

`react-native-ios-charts`: `0.2.4`
`danielgindi/Charts`: `2.2.4`

I found some problem when I execute build.

![error](https://cloud.githubusercontent.com/assets/7262199/15885645/12a391ae-2d8b-11e6-8b25-7db955ea3f56.png)

how should I fix it?

thanks for your time :)

[2016-06-08 11:34] L-Jovi opened #35 "strange pod version incorrect"
hi, would you mind take a look [stackoverflow](http://stackoverflow.com/questions/37696803/pod-cant-specify-version-well)

I could't handle [this issue](https://github.com/Jpadilla1/react-native-ios-charts/issues/34) because strange pod install version.

thanks for your patience :)

[2016-06-08 11:49] Jpadilla1 commented on #34
The issue is that for now you would have to use the Charts version `2.2.3` and freeze it like so.

[code]

[2016-06-08 12:06] L-Jovi commented on #34
@Jpadilla1  thanks for your reply, I close this issue and referenced it to [here](https://github.com/Jpadilla1/react-native-ios-charts/issues/35).

[2016-06-08 12:06] #34 closed

[2016-06-08 12:09] Jpadilla1 commented on #28
Included in `0.2.5` release.

[2016-06-08 12:12] Jpadilla1 commented on #29
hmm that error `error: value of type 'JSON' has no member 'isExists'` is normally caused by the new SwiftyJSON version that doesn't the `isExists` function anymore.

[2016-06-08 12:19] Jpadilla1 commented on #30
Hello! Looks like you are missing the bridge header file. For example, this is the header file on the latest version `0.2.5` for the ChartsExplorer https://github.com/Jpadilla1/react-native-ios-charts/blob/master/examples/ChartsExplorer/ios/ChartsExplorer-Bridging-Header.h . Check [here](http://stackoverflow.com/questions/31716413/xcode-not-automatically-creating-bridging-header) to add the refere

[2016-06-08 12:20] #28 closed

[2016-06-10 04:01] tuananhdn opened #36 "Strange behavior in RN 0.26"
I update the new version of charts and after that the result is:
![screenshot 2016-06-10 10 42 30](https://cloud.githubusercontent.com/assets/1632099/15953819/86c0b75a-2ef9-11e6-95f6-2a55bc44c7c8.png)
I cannot change background color of chart and seem other config is not working too. My code for chart is
`<LineChart
			          config={{
			            dataSets: dataSet,
			            labels: la

[2016-06-10 09:55] Jpadilla1 commented on #36
Hello! To fix the background you would have to set the background color as part of your styles instead.

[code]

I'll take a look at the data duplication issue

[2016-06-10 10:54] Jpadilla1 commented on #36
I can't seem to reproduce the duplication issue on my end in the ChartsExplorer.

[2016-06-10 10:58] tuananhdn commented on #36
hmm, i will try to reinstall lib, may be some thing wrong when i install it. Thanks guy 👍

[2016-06-13 02:34] whippersnapper opened #37 "Gradient fill"
Does the LineChart component support gradient fill color via config? Thanks.

[2016-06-14 02:48] whippersnapper opened #38 "Library not found for -lRNChart"
Has anyone else stumbled upon the following issue? I get this when I try to test against actual physical device. Virtual simulator seems to work fine.
`
ld: library not found for -lRNChart
clang: error: linker command failed with exit code 1 (use -v to see invocation)
`

[2016-06-14 10:09] L-Jovi opened #39 "change barchart bar width"
hi, how should change `<BarChart>` bar width, I use `lineWidth` but failed.

thanks for your time :)

[2016-06-20 23:23] paulmichalak commented on #25
@Jpadilla1 Any chance there is progress on this?

[2016-06-21 09:09] zodlanier commented on #12
Hi Jose @Jpadilla1 , i am experiencing the same issue here. Are u successful in removing the SwiftyJSON dependency? No luck in building to my iOS test device.

[2016-06-21 19:18] Elyx0 commented on #30
Exactly, i was misunderstanding because there was already a file named bridge in the lot. Removing and re-adding finally made the Xcode popup for a bridge file show, thanks.

[2016-06-23 08:11] aliouchka opened #40 "red square and no chart appearing"
hi, i've done all the installation instructions but nothing appears, only a red square around the zone where the chart is supposed to be, any idea of what the problem can be ?
thx :)

[2016-06-23 08:19] #40 closed

[2016-06-25 07:08] OldTiger commented on #40
how do you fix it? I meet same problem

[2016-06-29 03:27] L-Jovi opened #41 "strange PercentStyle of valueFormatter"
I use pie chart and set some custom config.

[code]

but display a bit strange like below image

![image](https://cloud.githubusercontent.com/assets/7262199/16439540/1fe494b4-3dec-11e6-8982-47eb68389dcf.png)

when I change `numberStyle: 'DecimalStyle', `, it display correctly but without percentStyle :(

![image](https://cloud.githubusercontent.com/assets/7262199/16439572/70f3a656-3dec-11e6-892c-2

[2016-06-29 03:36] Jpadilla1 commented on #41
Hello! Can you post your full config object? Thanks.

[2016-06-29 03:40] Jpadilla1 commented on #39
I think for that you would have to define a custom renderer or BarChart class from the swift library itself. Doesn't seem like their is a property that you set a value to at the moment.

[2016-06-29 03:41] Jpadilla1 commented on #37
Not supported yet. PR's are welcome though :)

[2016-06-29 03:41] Jpadilla1 commented on #35
Hey, were you able to solve your issue?

[2016-06-29 03:42] #32 closed

[2016-06-29 03:42] Jpadilla1 commented on #36
Hey, did it work for you or do you still have the issue?

[2016-06-29 03:43] #30 closed

[2016-06-29 03:43] #29 closed

[2016-06-29 03:45] L-Jovi commented on #41
thanks for your quick reply!

**package.json**
`"react-native-ios-charts": "^0.2.4"`

**Podfile**

[code]

**config**

[code]

[2016-06-29 03:48] L-Jovi commented on #39
thanks for your idea, I'll try it :)

[2016-06-29 03:48] #39 closed

[2016-06-29 03:49] L-Jovi commented on #35
no, I try many ways but failed :(

I'll try post the issue to **CocoaPods** ..

[2016-06-29 04:03] tuananhdn commented on #36
i still got that issue :(, i try reinstall many times but it still
not work.

On Wed, Jun 29, 2016 at 10:42 AM, Jose Padilla notifications@github.com
wrote:

[2016-07-01 00:34] mahlon-gumbs opened #42 "Value of optional type 'RCTBridge?' not unwrapped; did you mean to use '!' or '?'?"
Hi there.

I'm getting this error in the following files using react-native 0.28 and react-native-iso-charts 0.2.5:

node_modules/react-native-ios-charts/RNiOSCharts/RNBarChartManager.swift
node_modules/react-native-ios-charts/RNiOSCharts/RNScatterChartManager.swift
node_modules/react-native-ios-charts/RNiOSCharts/RNCandleChartManager.swift
node_modules/react-native-ios-charts/RNiOSCharts/RNLineCh

[2016-07-01 09:48] L-Jovi commented on #41
@Jpadilla1  hi, any idea now?

thanks for your patience :)

[2016-07-01 12:52] Jpadilla1 commented on #42
Just merged your PR, thanks!

[2016-07-01 12:52] #42 closed

[2016-07-01 13:40] mahlon-gumbs commented on #42
Awesome. Thanks.

[2016-07-03 00:00] KishPatel1996 commented on #37
Would love this feature as well!

[2016-07-03 00:07] KishPatel1996 commented on #37
I'm willing to take a stab at this, but I am very new to React and React Native.  Can you point me in the right direction in terms of resources, etc?

[2016-07-05 18:12] EngineerDiab commented on #40
@aliouchka Im having the same problem? what did you do to fix it?

[2016-07-07 11:09] rmevans9 commented on #40
@OldTiger @EngineerDiab I resolved this issue by making sure the files from this project ended up in the "Compile Sources" section of the projects build settings. Away from my computer otherwise I would be more specific but simply adding the files there made things work for me.

[2016-07-07 19:09] wrousseau commented on #42
@Jpadilla1 Hi ! Could you make a new release with this fix please ?

[2016-07-07 19:12] Jpadilla1 commented on #42
@wrousseau just did a release! Sorry about that

[2016-07-11 12:05] mitshit opened #44 "ChartMarker not working?"
Hi, I've added drawMarkers: true to my chart view
but it seems like ChartMarker not working?

[code]
how should I fix it?

[2016-07-15 12:11] guitoof commented on #37
Hey @Jpadilla1 !

Very nice lib thank you very much. I'm joining the others to say that a support for Gradient fill LineChart would be awesome.

I am also new to React Native. Would love to help but I'm not sure how ...

[2016-07-15 12:17] guitoof opened #45 "Cropped labels when font size is too big"
Hi there.
Great component here, good job !

I am trying to add labels at the bottom of my charts.
The labels are dates and are quite long and I see the first label cropped (see screenshot)

![screen shot 2016-07-15 at 14 06 30](https://cloud.githubusercontent.com/assets/4828287/16873920/80fef468-4a96-11e6-8449-3a8852e9aaa7.png)

The only solution I found was to reduce the font size but my specs re

[2016-07-22 09:54] aliouchka opened #46 "Chart parameters and adapte the Xaxis width to my component"
where can i find the charts parameters please ?
for exemple to change the Yaxis values

and how can i scale the Xaxis width to adapte the chart to my component width ?

thank you :)

[2016-07-25 17:51] EngineerDiab opened #47 "Chart Zooms when clicked"
At the moment when I click on the chart in the iOS simulator, the chart can zoom in infinitely.

Is there a way to disable interaction with the chart. Or disable zooming specifically.

[2016-07-25 17:59] Jpadilla1 commented on #47
Did you try setting these props? https://github.com/Jpadilla1/react-native-ios-charts/blob/master/utils/commonProps.js#L141-L142

Sorry for not having documentation to make this clearer.

[2016-07-25 18:17] EngineerDiab commented on #47
@Jpadilla1

Thanks a ton, that's exactly it

[2016-07-25 18:17] #47 closed

[2016-07-26 07:33] emondora commented on #36
I got this too

[2016-07-26 18:38] EngineerDiab opened #48 "How to remove values in the top axis of HorizontalBarChart"
I'm having difficulty finding the prop. Sorry if this is an obvious question!

[2016-07-26 18:46] Jpadilla1 commented on #48
Did you try this one? https://github.com/Jpadilla1/react-native-ios-charts/blob/master/utils/commonProps.js#L193

[2016-07-26 18:54] EngineerDiab commented on #48
@Jpadilla1 Thanks for putting up with me. That's exactly it

[2016-07-26 18:54] #48 closed

[2016-07-26 18:55] Jpadilla1 commented on #48
No worries! Happy to help!

[2016-08-09 16:35] EngineerDiab opened #50 "yAxis incrementing oddly. Simply need integers with integer scaling, no decimals"
my yAxis looks like this atm

5.1
4.8
4.5
4.2
.
.
.

what I need

5
4
3
2
.
.
.
If I set maximalDecimalPlaces to 0 I get

5
5
4
4
3
2
2
1

[2016-08-09 18:04] EngineerDiab commented on #46
I would like to know this too

[2016-08-11 02:02] jsntghf opened #51 "stacked bars"
@Jpadilla1 I want to use stacked bars, is this supported?
![32f93bdc-af20-11e5-8240-32dc80f951ac](https://cloud.githubusercontent.com/assets/182790/17576917/9ffae34e-5faa-11e6-8377-c459dd4b75f0.jpg)

[2016-08-30 18:39] uriklar opened #53 "Build Error - No such module 'Charts'"
Hi @Jpadilla1,
I'm trying to install the library (v0.2.6). I'm running react-native v0.32.0. I've followed the installation instructions one by one, and when I try to run the project via the .xcworkspace file in Xcode, i'm getting the error:
```No such module 'Charts' ```
In the file: ```RNBubblrChart.swift```

I installed Charts and SwiftyJSON using Cocoapods

Any idea what the issue is? I'd be h

[2016-08-31 06:19] uriklar commented on #53
Ok, not sure exactly how I solved this, but it involved doing a pod reinstall.
I used: https://github.com/CocoaPods/cocoapods-deintegrate to uninstall pods.
I think it might of had something to do with another library I was installing using cocoapods which messed things up...

I wasn't sure if I needed to add Charts and SwiftyJSON to the Link Binary With Libraries section. Right now, in the workin

[2016-08-31 06:19] #53 closed

[2016-08-31 11:16] uriklar opened #54 "Is setLabelCount option supported?"
Hi,
I was looking for the different supported options, which led me to the Charts library page, which refers to he [MPAndroidChart](https://github.com/PhilJay/MPAndroidChart) library page.

I saw there that there's an option to limit the number of labels shown on the y axis (setLabelCount).
Can this be achieved in react-native-ios-charts?
If not, i'd be happy to try to add that option (would proba

[2016-08-31 11:18] uriklar commented on #54
Sorry, found the labelCount option. Can I delete this issue?

[2016-08-31 11:18] #54 closed

[2016-09-10 03:13] cesardeazevedo commented on #6
I did a interesting progress on it.

@L-Jovi Is your problem on stackoverflow related to BalloonMarker directly?

I think support BallonMarker at this stage would be a good way to started, I tried to work with RadarMarkerView as well, but it a different design from BalloonMarker, they started it on a [new marker protocol.](https://github.com/danielgindi/Charts/commit/2f0097553e0ad4b7fe1c810d373fd9

[2016-09-10 03:26] Jpadilla1 commented on #6
Hi @cesardeazevedo that looks awesome!!! Would love a pull request :)

[2016-09-10 03:28] cesardeazevedo commented on #6
Cool, i'll send soon.

[2016-09-10 10:28] L-Jovi commented on #6
@cesardeazevedo  cool!

[2016-09-15 10:21] SafiMohammed commented on #4
Can I use any callback function on clicking the charts?

[2016-09-16 06:55] SafiMohammed commented on #25
Is there any updates regarding the callback in chart interaction?

[2016-09-19 09:28] L-Jovi opened #58 "could I custom callback to this smart chart?"
hi, thanks for your smart chart in react-native js side, it's cool and convenient.

I want to get x axis and y axis value when I interact with chart component, I notice that native Android implements almost all event type while iOS also implement part of some,

but I can't find any bridge which defined in our component swift code, maybe I'm missing, how could I custom callback here?

thanks for yo

[2016-09-20 23:19] noxowe opened #59 "XCode 8 + Swift 2.3 / Swift 3 issues"
Hi,
As I installed XCode 8 it asked me if I want to convert the files to the latest Swift version.
Regardless of what I say (Later / Convert) I get tons of exceptions from XCode (even XCode 7 doesn't work now, tried installing that one too). The exceptions look like this:
<img width="253" alt="screen shot 2016-09-21 at 1 17 16" src="https://cloud.githubusercontent.com/assets/7858366/18692267/52cea

[2016-09-20 23:28] #59 closed

[2016-09-21 02:34] L-Jovi commented on #58
any idea?

[2016-09-21 02:40] Jpadilla1 commented on #58
Hi @L-Jovi it's currently note implemented, but the way to do this is by passing native events to javascript and in, let's say the Scatter Chart component, the callback would be called with the values. I haven't had time to work on this, but if anyone wants to take a shot at it, I'd recommend starting from here https://facebook.github.io/react-native/docs/communication-ios.html#calling-react-nativ

[2016-09-21 10:33] L-Jovi commented on #58
@Jpadilla1  thanks for your reply, I'll try it.

[2016-09-22 02:46] mahlon-gumbs opened #60 "No Swift-3.0 Branch"
Hi there.

I was trying to install this module according to your readme and got the following error:

[code]

I've tried replacing that line with one of the other branches found in the Chards repo but I get various errors no matter what I choose. Any chance you can verify this podfile entry?

[2016-09-22 19:30] laszlolm commented on #60
@mahlon-gumbs replace it with the `master` branch. By their current standing they support Swift 3 on that branch

[2016-09-22 21:09] mahlon-gumbs commented on #60
Hmmm... thanks @noxowe. I'll try that and see if I can at least get things working. The issue there, however, is that I wouldn't be able to check that into our repo for other developers since master will continue to change. Since we don't check in modules or Pods, other developers may wind up with different versions of this. :-(

[2016-09-29 14:54] lammertw commented on #60
The `master` branch doesn't work. At the time of writing the `Chart2.2.5-Swift3.0` does appear to work.

[2016-09-30 16:30] guitoof opened #61 "Swift 2.3 and 3.0 support ?"
Hi there,

I updated my Xcode version to 8.0 and it asks me for a Swift conversion to 2.3 or 3.0.
I have therefore updated the Charts and SwiftyJSON pods to use the 2.3 version of Swift but still have errors such as " Type 'CombinedChartView.DrawOrder' has no member 'bar'" in RNCombinedChart.swift and all other swift files in node_modules/react-native-ios-charts.

Not knowing Swift, I haven't been

[2016-10-01 21:21] mahlon-gumbs commented on #59
@noxowe did you resolve this? If so, how?

[2016-10-06 13:14] alexkendall commented on #61
+1

[2016-10-06 23:06] mahlon-gumbs commented on #60
@lammertw Thanks. Finally got a chance to cleanup my project and got this working with the `Chart2.2.5-Swift3.0` branch you mentioned. I had tried that branch in the past but kept getting hundreds of errors (literally) as Xcode tried the swift conversion.

Turns out...for now, that I had to add the files to the project root rather than have them in a group. I'll try to clean that up at a later tim

[2016-10-06 23:06] #60 closed

[2016-10-06 23:15] mahlon-gumbs commented on #61
@guitoof I'm using Xcode v8.0 and it would always fail on swift conversion for me as well (generating sometimes 999+ errors).  I finally got it working by adding the files in step 2 rather than the group (i.e. actually select all the files in the `RNiOSCharts` folder rather than selecting the folder itself.

The downside is this puts all the files in the ios folder, which is a little frustrating f

[2016-10-07 14:49] alexkendall commented on #61
I had to use CocoaPods to get it to compile.

[2016-10-07 14:52] mahlon-gumbs commented on #61
@alexkendall I used CocoaPods as well. Were you able to do it with a group or are the RNiOSCharts files in your ios project root directory?

[2016-10-07 14:58] alexkendall commented on #61
**@mahlon-gumbs** the RNiOSCharts files are in a group inside the node-modules directory. My Podfile file looks like this.

use_frameworks!
target ‘FIAT_Analytics’ do
  pod 'SwiftyJSON', git: 'https://github.com/IBM-Swift/SwiftyJSON.git'
  pod 'Charts', git: 'https://github.com/danielgindi/Charts.git', branch: ‘Chart2.2.5-Swift3.0’
end

post_install do |installer|
  installer.pods_project.targets.

[2016-10-07 15:01] mahlon-gumbs commented on #61
@alexkendall so for step 2 when you have to "Add files to <project name>", how did you do it?  I must have done something wrong because it copied the files from the node modules into my ios folder.  i.e. when I do an ls from the command line, I can see all of the Chart files in <project>/ios/.

I'd like to maybe pull them in as a reference or something if that's possible.

---Referring to this ste

[2016-10-07 15:05] alexkendall commented on #61
**@mahlon-gumbs** Yeah. I would try pulling the files in as a reference instead and make sure copy files isn't selected when you add the files to the project.

[2016-10-07 15:20] mahlon-gumbs commented on #61
@alexkendall I knew it would be something silly on my part. That did it. Thanks!

[2016-10-12 08:50] prithsharma commented on #25
Any updates on this?

[2016-10-13 03:09] Jpadilla1 opened #64 "Call for maintainers"
As you all may have noticed, I haven't been as active in this repo as before and I'm sorry. This issue has the sole purpose of calling maintainers that are willing to keep this repo alive better than I'm doing right now. If anyone is interested please let me know.

[2016-10-20 03:53] williamhatsv commented on #59
@noxowe This issue was closed by yourself. Do you have the solution? If yes, can you post it here.

[2016-10-20 12:15] Aaaaaashu opened #65 "Update Chart 3.0.0, xcode build fail"
When I through the pod update [Charts](https://github.com/danielgindi/Charts/tree/v3.0.0) to version 3.0.0, Xcode build will produce the`react-native-ios-charts` related errors. It is possible that the `react-native-ios-charts` didn't keep up with the [Charts](https://github.com/danielgindi/Charts/tree/v3.0.0) 3.0.0 updates.

[2016-10-20 22:54] alexkendall commented on #65
+1

[2016-10-21 13:49] femiveys opened #66 "Branch Chart2.2.5-Swift3.0 doesn't exist"
I tried to follow the steps as listed.

However there is something wrong with the Podfile proposed.

`pod 'Charts', git: 'https://github.com/danielgindi/Charts.git', branch: 'Chart2.2.5-Swift3.0'`

branch Chart2.2.5-Swift3.0 doesn't exist. What branch should I use?

[2016-10-31 05:06] L-Jovi opened #67 "upgrade to xcode 8 lead chartDataHelpers.swift throw many issue"
I follow the latest `README.md` prompt to install the edge version of our smart `react-native-ios-charts`.

with all step finishing I try to build my project but I find that many issue throwing in `chartDataHelpers.swift`, I ensure upgrade my xcode to latest version 8 and convert all swift syntax that supporting swift `3.0` compiler, but I have no idea to resolve below issue, could you help me. th

[2016-10-31 08:20] L-Jovi commented on #61
@mahlon-gumbs  @alexkendall  sorry to trouble, I also follow your idea but failed.

I notice that [New major release of danielgindi/Charts](https://github.com/danielgindi/Charts/releases/tag/v3.0.0) have full support swift 3.0 and do some breaking changes and I wonder that whether current version of `react-native-ios-charts` support swift 3.0,

I set `use legacy swift language version` to `No` in

[2016-11-03 09:43] ghost commented on #65
+1

[2016-11-05 00:27] mahlon-gumbs commented on #61
@L-Jovi sorry for the late response. Are you still having issues?

Unfortunately it's no longer working for me either on new builds. Seems the dependent branch has been deleted. I'll have to play around a bit to see if I can get this working again for my project.

[2016-11-05 11:37] mahlon-gumbs commented on #66
@femiveys Did you ever get this working? If so, how?

[2016-11-05 11:38] mahlon-gumbs commented on #65
@Aaaaaashu did you ever get this resolved? If so, can you share what you did?

[2016-11-05 11:42] femiveys commented on #66
No.

[2016-11-05 16:58] 0xashu commented on #65
@mahlon-gumbs we fork [Charts](https://github.com/consenlabs/Charts/tree/Swift-3.0) swift 3.0 branch to use

[2016-11-06 09:59] L-Jovi commented on #61
@mahlon-gumbs  thanks for your reply :)

eventually I can't solve so many error and I roll back to swift `2.3` compiler support,
and I'll appreciate that to be shared the branch if you successfully build the project with swift `3.0`

thanks for your time,

regards.

[2016-11-06 13:08] mahlon-gumbs commented on #65
@Aaaaaashu that did the trick. Thanks.

[2016-11-06 13:14] mahlon-gumbs commented on #66
So I followed @Aaaaaashu advice here: [#65](https://github.com/Jpadilla1/react-native-ios-charts/issues/65#issuecomment-258624464) (use the Swift-3.0 branch from a fork) and that did the trick for me.

Hope that helps you as well.

[2016-11-06 13:15] mahlon-gumbs commented on #61
@L-Jovi I followed @Aaaaaashu advice here: [#65](https://github.com/Jpadilla1/react-native-ios-charts/issues/65#issuecomment-258624464) (use the Swift-3.0 branch from a fork) and that did the trick for me.

Hope that helps you as well.

[2016-11-07 02:16] L-Jovi commented on #61
@mahlon-gumbs  thanks a lot :)

[2016-11-11 07:16] xzyaoi commented on #65
I think i still met this problem... don't know why

[code]

[2016-11-11 09:55] stevefermi opened #68 "Build Error"
Hi,

I am new to iOS developement and I am not sure how to install this library correctly.

I am using XCode 8.0 Mac OS X Sierra and React-Native 0.35.0. I followed Issue #65 but still got errors.

[code]

I followed the instructions in the README file, and i've searched it but i am still not sure how to solve this problem?

[2016-11-17 11:12] adelamodwala commented on #68
+1 I'm getting similar issues ever since I updated to Swift 3.1

[2016-11-17 16:11] xzyaoi commented on #68
@adelamodwala  I solved this problem by add the bridging header by myself, you can have a try but I am not pretty sure if it can solve it. If it is, please reply to this comment so that we could fix it.

[2016-11-21 10:00] prithsharma commented on #58
Any updates on this?
I can try implementing this but since I've no iOS experience, I'll need some support.

[2016-11-22 02:38] 0xashu commented on #44
@mitshit
How do you solve this problem ?

[2016-11-22 11:21] prithsharma opened #70 "Line Chart dataset doesn't accept hex codes in colors attribute"
The app crashes on [this line](https://github.com/Jpadilla1/react-native-ios-charts/blob/0.3.0/RNiOSCharts/chartDataHelpers.swift#L40) when colors are given in hex code format. When given in rgba, it works fine.
A little surprising because other charts(I tested with Pie and Horizontal Bar) don't have this issue - they work with hex colors well.

[2016-12-05 02:16] razor1895 commented on #70
hey, dude, how did you make this module work, I tried hard but still got swift compile error.... if you have any ideas on how solve this, please let me know, great thanks!

[2016-12-06 17:11] prithsharma commented on #70
@razor1895 Sorry to hear that. Can you please be a little more specific about the error and we can see from there?

[2016-12-07 13:51] razor1895 commented on #70
@prithsharma I solved this by changing the react-native-ios-charts version to 0.2.7 and the charts version to 2.2.3. Then build with Xcode 7 and it works.

Here's my podfile
[code]

@prithsharma Thank you anyway, and hope my solution can help someone

[2017-01-09 14:09] L-Jovi opened #77 "execute abbreviateNumber encounter error"
I encounter error with below versions,

__package.json__
[code]

__Podfile__
[code]

and always crash in below line,  my xcode version is `8.2.1` and use swift `3.0` with legacy set to no;

![image](https://cloud.githubusercontent.com/assets/7262199/21769148/2b44da70-d6b8-11e6-9e57-1e9983a4b470.png)

![image](https://cloud.githubusercontent.com/assets/7262199/21769034/b353ed30-d6b7-11e6-8bab-8837d

[2017-01-10 02:07] #35 closed

[2017-01-19 12:38] yunlongz opened #78 "do this support RN v0.40?"
I use RN V0.40  and  error: 'yoga/Yoga.h' file not found

[2017-01-19 18:22] alexkendall commented on #78
What branches are you using of ios charts in your podfile? Just curious as I cant get the project running at all on Xcode 8 and Swift 3.

[2017-01-23 08:08] CarmeloXue opened #79 "Swift compliler Errors"
I'm a starter in this area and i try to run example but got this pills of errors

![image](https://cloud.githubusercontent.com/assets/24514156/22196024/13d129b0-e186-11e6-80c1-a7d52192fbc3.png)

swiftJson 2.3.2
charts 3.0.1

[2017-01-23 09:08] CarmeloXue commented on #79
still i have 4 errors

![image](https://cloud.githubusercontent.com/assets/24514156/22197778/7bd27228-e18e-11e6-87b4-23bc44036867.png)

both of my chart and swiftjson  is 3.0.0

[2017-01-25 05:42] reformer commented on #79
Im also sad on swift version up-gradation. No clue how to resolve this large number of errors.

[2017-01-26 04:40] CarmeloXue commented on #79
@reformer now i just adjust my swfit to 3.0.0 and get the fork branch,but still had 3 or 4 errors. And the version conflicts still remain to be solved

[2017-01-29 18:34] reformer commented on #79
@CarmeloXue do you got solution ?

[2017-02-03 13:41] huan1043269994 opened #80 "Expected a type (Parse Issue) RCTUIManager.h"
I prefer your help, I can't solve it, Help me!

[2017-02-06 07:00] CarmeloXue commented on #79
@reformer no solution yet

[2017-02-20 10:58] wuxudong commented on #79
I fork this repo, and update Charts to newest version V3.  you can check it at
https://github.com/wuxudong/react-native-ios-charts

I have no experience of coding with swift & oc, so I can only fix compile error based on google and xcode hint. It took me hours.

It seems work.

btw: there is lot code duplications in this repo.  need to be refactor.

[2017-02-20 10:59] wuxudong commented on #79
there is some breaking change between Charts v2 and v3.

check examples->ChartsExplorer->components->TimeSeriesLine to get more info

[2017-02-20 11:01] wuxudong commented on #65
I fork this repo, and update Charts to newest version V3. you can check it at
https://github.com/wuxudong/react-native-ios-charts

I have no experience of coding with swift & oc, so I can only fix compile error based on google and xcode hint. It took me hours.

It seems work.

btw: there is lot code duplications in this repo. need to be refactor.

[2017-02-21 13:10] reformer commented on #79
@wuxudong There is lots of chances made in v3. I seen datasource provide to chart is now changed then callback methods too. So i think its take time to write whole lib. But now i doing one idea i complied and run V3 lib in native and i start writing my own wrapper around charts which i wanted. BTW take your time for refactoring your code. I have also plan in future to share my work here.

[2017-02-28 10:21] CarmeloXue commented on #79
@wuxudong I got your solution, add all the files and RCTViewManager, pod install done, but still got this

![image](https://cloud.githubusercontent.com/assets/24514156/23401402/86a96b96-fde2-11e6-8595-db13ef58c5e4.png)

and my project is like this

![image](https://cloud.githubusercontent.com/assets/24514156/23401420/97200e8a-fde2-11e6-9c54-b676e1401f2d.png)

[2017-02-28 10:29] CarmeloXue commented on #79
@wuxudong never mind. Problem has solved

[2017-02-28 10:30] reformer commented on #79
@CarmeloXue have you convert all lib in latest version swift 3.0 in react native?

[2017-02-28 11:04] CarmeloXue commented on #79
![image](https://cloud.githubusercontent.com/assets/24514156/23402919/a3670db4-fde8-11e6-8dd1-ae8ec4b14b0e.png)

now when i try to run a demo, got this error

[2017-02-28 13:26] reformer commented on #79
@CarmeloXue You not able to properly integrate chart lib in your project. Chart lib swift 3.0 is properly compile  using pod dependency but when you trying to use bridge classes between chart lib and react native then it give errors. In Your case after since your screenshot you not adding those bridge classes from node modules. You must add those classes in your XCode if all going good then your a

[2017-03-01 02:51] CarmeloXue commented on #79
@reformer tried to add these to framework to and add it

![image](https://cloud.githubusercontent.com/assets/24514156/23443855/8b7cd588-fe6c-11e6-81d4-75257bbb021d.png)

and add

![image](https://cloud.githubusercontent.com/assets/24514156/23443873/ac70b926-fe6c-11e6-9d8d-04de245e956f.png)

all these files under node-module, but still got Native component not found error. I don't know anything abo

[2017-03-01 08:52] CarmeloXue commented on #79
@reformer problem solved, i just change the content of my bridging-header to
#import <React/RCTViewManager.h>
#import <React/RCTUIManager.h>
and the problem solved.
I try to remove #import <React/RCTUIManager.h> , and the errors show. So i think the problem may cause by it. But still dont know why...BTW  many thx

[2017-03-01 17:04] reformer commented on #79
@CarmeloXue Congratulation!. If you don't mind share your work to other whomsoever in trouble,

[2017-03-02 02:00] wuxudong commented on #79
Is it solved now?

I am working on a new repo, try to merge this ios version with another android version. It is almost done.

[2017-03-02 04:06] reformer commented on #79
@wuxudong  yes according to your screenshot it seems to solve. Try to use one of example using latest version of graph.

[2017-03-02 04:47] CarmeloXue commented on #79
thx both of you!

[2017-03-02 04:47] #79 closed

[2017-03-02 04:50] wuxudong commented on #79
@reformer Actually I am also new to xcode, I got a problem to extract it as a library.

In react-native-ios-charts installation guide, you need to copy source files to your own project.
Maybe react-native link is better.

I want to extract this as a standalone cocoa-touch-framework.
But after I moved these ui component codes to an standalone xcode project, I can not get it compiled successfully.

[2017-03-06 04:51] wuxudong commented on #61
I create a new repo, merge this and another android chart lib,
you may check this.
https://github.com/wuxudong/react-native-charts-wrapper

[2017-03-06 04:52] wuxudong commented on #79
Finally. check this.
https://github.com/wuxudong/react-native-charts-wrapper

[2017-03-06 04:53] wuxudong opened #81 "Finally, now support both android and ios"
check this.
https://github.com/wuxudong/react-native-charts-wrapper

@Jpadilla1  if there is any problem about license or other things, let me know

[2017-03-06 06:56] reformer commented on #79
@wuxudong  Thanks a lot dude :)

[2017-03-06 19:34] Jpadilla1 commented on #81
This is amazing @wuxudong!! Will add a link to reference your repo in the readme. Thank you so much!

[2017-03-06 19:34] #81 closed

[2017-03-07 09:37] rimzici opened #82 "PIE CHART : Chart not shown."
Thanks for the wonderful module. Facing an issue with Pie chart.
RN version:
  "react": "~15.3.1 ",
  "react-native": "^0.35.0",
xcode 8.2
using
"react-native-ios-charts": "git+https://github.com/ShineFan/react-native-ios-charts#be25d9c",
also tried,
"react-native-ios-charts": "git+https://github.com/wuxudong/react-native-ios-charts#bd2305b",

after that PIE chart alone is not working properly.
tr

[2017-03-08 04:32] rimzici opened #83 "Example Not Working : ChartsExplorer"
Not able to configure the example project.
following instruction given in [here](https://github.com/Jpadilla1/react-native-ios-charts/tree/master/examples/ChartsExplorer)
on giving command
" pod install " inside projects ios folder this is what I am getting in response.

Analyzing dependencies
Pre-downloading: `Charts` from `https://github.com/danielgindi/Charts.git`, commit `2dd22b903a78d0d34d07e

[2017-03-21 08:57] rimzici commented on #82
Anyone happened to face this issue?
would appreciate any help.

[2017-03-22 03:10] L-Jovi commented on #83
you can try the new project [react-native-charts-wrapper](https://github.com/wuxudong/react-native-charts-wrapper) which merged iOS and Android platform.

[2017-03-23 16:39] rimzici commented on #83
@L-Jovi : Thank You very much. Will try the new one.

[2017-05-08 11:39] tercanomer commented on #53
Either de-integrating and `run pods` helped or after doing that I re-opened the xcode project. This time I opened using the parent `ios` folder and not the `.xcodeproj` file inside it.

Now I can see the `Pods` project in addition to my own project in project navigator and it compiles ok.

[2017-08-09 22:27] ericcastro92 commented on #50
Did anyone end up resolving this?

[2019-07-22 08:28] gshoanganh opened #84 "Custom CandleStickChart to BoxChart ?"
Is there any way to customize a CandleStickChart to BoxChart?
![image](https://user-images.githubusercontent.com/25890788/61617645-55236b80-ac95-11e9-89b3-1b252c671fba.png)

[2020-12-18 12:23] anton-thushara commented on #51
did you find a solution?